[nz-form] {
  max-width: 100%;
}

.inner-content {
  max-width: 100%;
  margin: 5px;
  padding-bottom: 10px;
}

.header-menu {
  line-height: 4vh;
}

button {
  margin-left: 8px;
  justify-content: end;
}

.custom-button {
  margin: 0;
}

.none-width {
  margin: 15px 0;
}

#map {
  height: 500px;
  width: 600px;
}

::ng-deep.ant-select-selection{
  border-top-right-radius: 4px!important;
  border-bottom-right-radius: 4px!important;
}

#address{
  border-top-left-radius: 4px!important;
  border-bottom-left-radius: 4px!important;
}

.color-text {
  color: red;
  display: block;
  text-align: center;
}

@media screen and (max-width: 900px) {

  .header-menu {
    line-height: 3vh;
    font-size: 12px;
  }

  ::ng-deep.ant-form label {
    font-size: 12px;
    padding: 0 0 0;
  }

  ::ng-deep.ant-input {
    font-size: 12px;
  }

  ::ng-deep.ant-select {
    font-size: 12px;
  }

  ::ng-deep.ant-form-item-label {
    font-size: 12px;
    padding: 0 0 0 0;
  }

  ::ng-deep.ant-form-explain {
    font-size: 12px;
  }

  ::ng-deep.ant-btn {
    font-size: 12px;
  }

  h4 {
    font-size: 12px;
  }

  nz-collapse-panel {
    font-size: 12px;
  }

  .mobile-position {
    width: 95%;
  }

  .ant-col-offset-18 {
    margin-left: 0;
  }

  .ant-col-4 {
    width: 100%;
  }

  nz-row {
    font-size: 10px;
  }

  nz-col {
    font-size: 10px;
  }

}

